body {
    margin: 0px;
    overflow-x: hidden;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

.row {
    display: flex;
}

#header .slider {
    height: 30px;
    /* border: 2px solid red; */
    overflow: hidden;
}

#header .slide {
    animation-name: desc;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes desc {
    0%,
    30% {
        transform: translateY(0px);
    }
    35%,
    65% {
        transform: translateY(-30px);
    }
    70%,
    95% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0px);
    }
}

#banner {
    overflow: hidden;
}

#banner .slider {
    width: 510%;
    animation: banner 10s infinite;
}

#banner .slider .slide {
    display: inline-block;
    margin: 0px -3px;
}

@keyframes banner {
    0% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(-20%);
    }
    40% {
        transform: translateX(-40%);
    }
    60% {
        transform: translateX(-60%);
    }
    80% {
        transform: translateX(-80%);
    }
    100% {
        transform: translateX(0%);
    }
}